.spell {
    &.git{
        font-weight: bold;
    }
    &.php{
        font-weight: bold;
    }
    &.git-live{
        font-style: italic;
        font-weight: bold;
    }
    &.git-live-flow{
        font-style: italic;
        font-weight: bold;
    }
    &.repository_name{
        font-family: $repository_name-font-family;
    }
    &.branch_name{
        font-family: $branch_name-font-family;
    }
    &.release-open{
        font-family: $branch_name-font-family;
    }
    &.release-close{
        font-family: $branch_name-font-family;
    }
    &.hotfix-open{
        font-family: $branch_name-font-family;
    }
    &.hotfix-close{
        font-family: $branch_name-font-family;
    }
}
