<!DOCTYPE html>
<html lang="Ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <title>Project Git Live!! : {{ page.title }}</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/img/ico/810x810.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/img/ico/57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/ico/72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/ico/76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/ico/114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/ico/120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/ico/144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/ico/152x152.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> </head>

<body style="margin:0;padding:0;">
    {{ content }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    $(function() {
        $(".boot-switch").bootstrapSwitch();
    });
</script>

</body>
</html>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" charset="UTF-8">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

