body {
    background-color: #fff;
    color: #4a4a4a;
    font-size: 14px;
    font-family: $global-font-family;
    line-height: 1.42857;
}

a {
    color: #18bc9c;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0f7864;
    text-decoration: underline;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


h1 {
    font-size: 40px;
    display: block;
    text-align: center;
}

h2 {
    font-size: 26px;
    border-left: 10px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: .25em 0 .5em .5em;
}

h3 {
    font-size: 22px;
    padding: .3em 0;
    border-bottom: 4px solid #ccc;
}

h4 {
    font-size: 18px;
    padding: .3em 0;
    border-bottom: 2px solid #ccc;
}

h5 {
    font-size: 16px;
    padding: .3em 0;
    border-bottom: 1px solid #ccc;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}


.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase, .initialism {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}