body {
    background-color: #fff;
    color: #4a4a4a;
    font-size: 14px;
    font-family: $global-font-family;
    line-height: 1.42857;
}

a {
    color: #18bc9c;
    text-decoration: none;
}
a:hover, a:focus {
    color: #0f7864;
    text-decoration: underline;
}
a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


h1 {
  font-size: 40px;
}

h2 {
    font-size: 26px;
    border-left: 6px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: .25em 0 .5em .75em;
}

h3 {
    font-size: 22px;
    padding: .25em 0 .25em .75em;
    border-left: 6px solid #ccc;
}

h4 {
    font-size: 18px;
    padding: .75em 0;
    border-bottom: 1px solid #ccc;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
