
// font family
$code-font-family: 'Bitstream Vera Sans Mono', Consolas,Liberation Mono,Menlo,Courier,monospace;

$branch_name-font-family: 'Bitstream Vera Sans Mono', Consolas,Liberation Mono,Menlo,Courier,monospace;

$repository_name-font-family: 'Bitstream Vera Sans Mono', Consolas,Liberation Mono,Menlo,Courier,monospace;


